html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, address, em, img, strong, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, hgroup, nav, section, input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }
table {
  border-collapse: collapse;
  border-spacing: 0; }
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5; }
body {
  background: #fff; }
.wrapper {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 320px; }
#close {
  font-size: 0;
  position: absolute;
  border: 0;
  outline: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  z-index: 1;
  top: 12px;
  right: 12px; }
  #close::after {
    content: "\00d7";
    font-size: 3rem;
    font-family: sans-serif;
    color: #cfcfcf;
    -webkit-transition: color 200ms;
    transition: color 200ms; }
  #close:hover::after {
    color: #a7a7a7; }
  #close:focus::after {
    color: #7d7d7d; }
.content {
  position: relative;
  overflow: hidden;
  background: white; }
.main {
  position: relative;
  margin: 0 18px 40px; }
.header {
  margin: 18px 40px;
  text-align: center; }
.logo {
  display: inline-block;
  font-size: 2rem;
  vertical-align: top;
  background-color: transparent;
  background-repeat: no-repeat;
  margin: 0; }
.logo-primary {
  font-size:0;
    background:transparent url("/pascal.jpg") no-repeat center center;
    display:block;
    height:90px;
    width:90px;
    background-size: contain;
    margin:0 auto 0
}
section.section-empty {
  display: none; }
a {
  color: #55a7d8;
  text-decoration: none;
  cursor: pointer; }
  a:focus, a:hover {
    text-decoration: underline; }
li {
  margin-left: 1.6em; }
strong {
  font-weight: bold; }
em {
  font-style: italic; }
p, ul, ol {
  margin-bottom: 1em; }
.title {
  position: relative;
  font-size: 1.4rem;
  line-height: 2;
  margin-bottom: 18px;
  text-align: center; }
  .title .action {
    font-size: 1rem;
    margin-left: 2em;
    display: inline-block; }
.block {
  margin-bottom: 18px; }
.btn-group {
  margin-bottom: 18px;
  text-align: center; }
.btn {
  width: 100%;
  display: block;
  background: transparent;
  position: relative;
  min-width: 42px;
  max-width: 400px;
  margin: 0 auto 1rem;
  padding: 0 18px;
  line-height: 42px;
  border: 0 none;
  outline: 0 none;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 4px;
  cursor: pointer;
  color: #3f6dac;
  -webkit-transition: background-color 100ms;
  transition: background-color 100ms; }
  .btn:focus, .btn:hover {
    text-decoration: underline; }
.btn-primary, .btn-email, .btn-facebook, .btn-google-plus {
  color: #f4f5f5;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  border-radius: 4px; }
  .btn-primary:hover, .btn-email:hover, .btn-facebook:hover, .btn-google-plus:hover {
    color: #f4f5f5; }
.btn-primary {
  background-color: #00a1cf; }
  .btn-primary:focus, .btn-primary:hover {
    text-decoration: none;
    background-color: #3f6dac; }
  .btn-primary[disabled], .btn-primary.btn-disabled {
    background-color: #d0d2d3; }
.btn-secondary {
  display: inline-block;
  width: auto; }
  .btn-secondary:focus, .btn-secondary:hover {
    outline: 1px solid #3f6dac;
    text-decoration: none; }
.btn-email, .btn-facebook, .btn-google-plus {
  padding-left: 42px; }
  .btn-email::before, .btn-facebook::before, .btn-google-plus::before {
    border-radius: 4px 0 0 4px;
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    display: block;
    width: 42px;
    height: 100%;
    margin-left: -18px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 32px; }
.btn-email {
  background: #CD2027; }
  .btn-email:focus, .btn-email:hover {
    background: #AD1B21;
    text-decoration: none; }
  .btn-email::before {
    background-image: url(../images/icon/email-icon.png); }
    @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .btn-email::before {
        background-image: url("../images/icon_2x/email-icon-2x.png"); } }
.btn-facebook {
  background: #3D5C9A; }
  .btn-facebook:focus, .btn-facebook:hover {
    background: #324B7D;
    text-decoration: none; }
  .btn-facebook::before {
    background-image: url(../images/icon/facebook-icon.png); }
    @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .btn-facebook::before {
        background-image: url("../images/icon_2x/facebook-icon-2x.png"); } }
.btn-google-plus {
  background: #DF4A32; }
  .btn-google-plus:focus, .btn-google-plus:hover {
    background: #D03324;
    text-decoration: none; }
  .btn-google-plus::before {
    background-image: url(../images/icon/google-plus-icon.png); }
    @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .btn-google-plus::before {
        background-image: url("../images/icon_2x/google-plus-icon-2x.png"); } }
.btn-delete {
  color: #ca2b81; }
.message {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 250ms;
  transition: height 250ms; }
  .message .container {
    opacity: 0;
    -webkit-transition: opacity 250ms;
    transition: opacity 250ms; }
    .message .container > * {
      margin-bottom: 1rem; }
      .message .container > *:last-child {
        margin-bottom: 0; }
  .message.state-calculating {
    -webkit-transition: height 0ms;
    transition: height 0ms;
    position: absolute;
    height: auto; }
  .message.state-active .container {
    opacity: 1; }
.banner .container {
  border-radius: 4px;
  padding: 18px;
  margin-bottom: 18px; }
.banner a {
  color: #266599; }
.banner.message-error .container {
  color: #ca2b81;
  background: #f4d7e7; }
.banner.message-success .container {
  color: #457309;
  background: #ddefd4; }
.banner.message-info .container {
  color: #396e99;
  background: #c6e9f9; }
.field .container {
  margin: 0;
  padding: 0.5em 0;
  display: block; }
.field .message-error {
  color: #ca2b81; }
.field {
  position: relative;
  margin-bottom: 18px; }
.field-compact {
  display: inline-block; }
.field-error .name {
  color: #ca2b81; }
.field-error input:not([type="checkbox"]):not([type="radio"]), .field-error input:not([type="checkbox"]):not([type="radio"]):focus, .field-error select, .field-error select:focus {
  border: 1px solid #ca2b81;
  box-shadow: 0 0 0 1px #ca2b81; }
.field-error input:not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder {
  color: #ca2b81; }
.field-error input:not([type="checkbox"]):not([type="radio"])::-moz-placeholder {
  color: #ca2b81; }
.field-error input:not([type="checkbox"]):not([type="radio"]):-ms-input-placeholder {
  color: #ca2b81; }
.name {
  display: none;
  line-height: 1.5;
  margin-bottom: 0.25em; }
.workflow-edit .name, .field-use-external-name .name {
  display: block; }
.workflow-edit .field:not(.field-use-placeholder) input::-webkit-input-placeholder {
  color: transparent; }
.workflow-edit .field:not(.field-use-placeholder) input::-moz-placeholder {
  color: transparent; }
.workflow-edit .field:not(.field-use-placeholder) input:-ms-input-placeholder {
  color: transparent; }
input:not([type="checkbox"]):not([type="radio"]), .value, .toggle .name {
  display: block;
  width: 100%; }
input:not([type="checkbox"]):not([type="radio"]), select, .value, .toggle .name {
  color: #333;
  font-size: 1.25rem; }
input:not([type="checkbox"]):not([type="radio"]), select, .toggle .name {
  line-height: 42px;
  height: 42px;
  padding: 0 9px;
  border: 0px;
  border-bottom: 1px solid lightgray;
  background: white;
  outline: none;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  border-radius: 0px; }
  input:not([type="checkbox"]):not([type="radio"]):focus, select:focus, .toggle .name:focus {
    border-color: lightgray;
    border-radius: 3px;
    -webkit-transition: border-color 200ms;
    transition: border-color 200ms; }
input:not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder {
  color: #a7a7a7; }
input:not([type="checkbox"]):not([type="radio"])::-moz-placeholder {
  color: #a7a7a7; }
input:not([type="checkbox"]):not([type="radio"]):-ms-input-placeholder {
  color: #a7a7a7; }
input[disabled] {
  color: #a7a7a7; }
select {
  max-width: 100%;
  padding-right: 2.75em;
  background: white url(../images/icon_2x/down-arrow-2x.png) no-repeat right 1em center;
  background-size: 0.75em auto;
  margin-right: 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  select:last-of-type {
    margin-right: 0; }
  select::-ms-expand {
    display: none; }
.checkbox {
  display: block;
  position: relative;
  padding-left: 2rem; }
  .checkbox input[type="checkbox"] {
    position: absolute;
    left: -999px; }
  .checkbox .name {
    display: block; }
  .checkbox .name::before {
    content: ' ';
    position: absolute;
    left: 0;
    display: block;
    background: white;
    border: 1px solid #a7a7a7;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    width: 1.25rem;
    height: 1.25rem; }
  .checkbox input[type="checkbox"]:checked + .name::before {
    -webkit-transition: background-color 70ms;
    transition: background-color 70ms;
    background: #396e99 url(../images/icon/white-check.png) no-repeat center center;
    background-size: 1rem;
    border-color: #396e99; }
    @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      .checkbox input[type="checkbox"]:checked + .name::before {
        background-image: url("../images/icon_2x/white-check-2x.png"); } }
  .checkbox input[type="checkbox"]:focus + .name::before {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 2px 0 #396e99; }
.toggle {
  font-size: 0; }
  .toggle label.no-gender {
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    font-size: 1px;
    z-index: -1; }
  .toggle.focused {
    border-radius: 4px;
    box-shadow: 0px 0px 0px 2px #3eb4ed; }
  .toggle ::selection {
    background: transparent; }
  .toggle .name {
    width: 50%;
    margin-bottom: 0;
    color: #7d7d7d;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    -webkit-transition: box-shadow 70ms, background 70ms;
    transition: box-shadow 70ms, background 70ms; }
  .toggle label:first-child .name {
    border-radius: 4px 0 0 4px;
    border-right: 0; }
  .toggle label:first-child + label .name {
    border-radius: 0 4px 4px 0;
    border-left: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), -1px 0 1px rgba(0, 0, 0, 0.075); }
  .toggle input[type="radio"] {
    position: absolute;
    font-size: 1px;
    z-index: -1; }
    .toggle input[type="radio"]:checked + .name {
      color: #333;
      background-color: #f7f7f7;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25); }
.value {
  border-top: 1px solid #f7f7f7;
  position: relative;
  display: block; }
.field .value {
  line-height: 42px; }
.field .value span {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden; }
.field .value span::after {
  content: '';
  pointer-events: none;
  position: absolute;
  width: 40px;
  height: 100%;
  top: 0;
  right: 0;
  background-image: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0)); }
.field .block {
  padding: 0.5em 0;
  margin: 0; }
.value .action {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
  font-weight: normal;
  min-width: 40px;
  line-height: 42px;
  text-align: center;
  background-color: #fff; }
.address-container {
  margin-bottom: 18px; }
  .address-container .name {
    display: block; }
  .address-container .value {
    padding: 0.5em 0; }
.nav-list {
  font-size: 1.25rem;
  font-weight: normal;
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 1;
  opacity: 0;
  height: 0;
  line-height: 42px; }
  .nav-list ul, .nav-list .close {
    border-radius: 3px;
    border: 1px solid #f7f7f7;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25); }
  .nav-list ul {
    list-style-type: none;
    margin: 80px 40px 10px;
    background: #f4f5f5; }
  .nav-list .close {
    margin: 0 40px;
    background: white; }
  .nav-list li {
    margin: 0; }
  .nav-list li a {
    border-bottom: 1px solid #f7f7f7; }
  .nav-list li:last-child a {
    border-bottom: none; }
  .nav-list a {
    text-align: center;
    display: block;
    padding: 0 20px; }
  .nav-list.state-calculating {
    visibility: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto; }
  .nav-list.state-active {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: opacity 250ms;
    transition: opacity 250ms; }
.dialog {
  position: absolute;
  top: 0;
  right: -40px;
  bottom: 0;
  left: -40px;
  z-index: 2;
  background: white;
  opacity: 0;
  height: 0;
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms; }
  .dialog .container {
    position: fixed;
    display: none;
    text-align: center;
    font-size: 1.25em;
    margin: 0 40px; }
  .dialog.state-active {
    opacity: 1;
    height: auto;
    -webkit-transition: opacity 250ms;
    transition: opacity 250ms; }
    .dialog.state-active .container {
      display: block; }
.list {
  margin-bottom: 18px; }
.list > ul {
  list-style-type: none; }
.list-heading-group, .list-select-radio, .list-submit {
  display: none; }
.list-select {
  margin: 0; }
.list-item {
  padding-top: 18px;
  border-top: 1px solid #f7f7f7; }
.list-field {
  font-size: 0;
  margin: 0 0 18px; }
  .list-field .name, .list-field .value {
    display: inline-block;
    font-size: 1rem;
    vertical-align: top; }
  .list-field .name {
    width: 30%; }
  .list-field .value {
    width: 70%;
    border-top: none; }
.list-field-username .value {
  font-weight: bold; }
.loading-indicator {
  position: absolute;
  background: white url(../images/loading-indicator.gif) no-repeat center center/32px 32px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  z-index: 2;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms; }
.loading-indicator.state-loading {
  opacity: 0.8;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
.fade-cover {
  position: absolute;
  height: 0;
  opacity: 0;
  overflow: hidden;
  z-index: 2; }
@-webkit-keyframes highlight {
  0% {
    background: rgba(252, 251, 173, 0.9); }
  100% {
    background: rgba(252, 251, 173, 0); } }
@-moz-keyframes highlight {
  0% {
    background: rgba(252, 251, 173, 0.9); }
  100% {
    background: rgba(252, 251, 173, 0); } }
@-o-keyframes highlight {
  0% {
    background: rgba(252, 251, 173, 0.9); }
  100% {
    background: rgba(252, 251, 173, 0); } }
@keyframes highlight {
  0% {
    background: rgba(252, 251, 173, 0.9); }
  100% {
    background: rgba(252, 251, 173, 0); } }
.fade-cover.state-flash {
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  -webkit-animation: highlight 1.8s;
  -moz-animation: highlight 1.8s;
  -o-animation: highlight 1.8s;
  animation: highlight 1.8s; }
.field-dob {
  white-space: nowrap;
  font-size: 0; }
  .field-dob > * {
    font-size: 1.25rem; }
.field-error .show-password-action .name {
  color: inherit; }
.field-editable-value .value span::after {
  right: 40px; }
.workflow-login .block-forgot-password-username {
  text-align: center; }
.workflow-launch-registration .block-login-link {
  text-align: center; }
.workflow-ipas-selection .title-alert {
  color: #ca2b81;
  margin-bottom: 0; }
.workflow-reauth .field-username-email {
  margin-bottom: 9px; }
  .workflow-reauth .field-username-email .value {
    border-top: 0;
    font-weight: bold; }
@media screen and (min-width: 420px) {
  body {
    background: rgba(255, 255, 255, 0.8); }
  .wrapper {
    margin: 30px auto;
    width: 410px; }
  .content {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 12px; }
  .main {
    margin: 0 40px 40px; }
  .nav-list {
    font-size: 1rem;
    position: absolute;
    right: 0;
    overflow: hidden;
    visibility: hidden;
    background: white;
    border-radius: 3px;
    -webkit-transition: opacity 100ms, height 100ms;
    transition: opacity 100ms, height 100ms; }
    .nav-list ul {
      margin: 0;
      background: transparent;
      border: none;
      border-radius: 0; }
    .nav-list .close {
      display: none; }
    .nav-list li a {
      border-bottom: none; }
    .nav-list li:first-child a {
      padding-top: 0.5em; }
    .nav-list li:last-child a {
      padding-bottom: 0.5em; }
    .nav-list a {
      text-align: left; }
    .nav-list.state-calculating, .nav-list.state-active {
      top: auto;
      left: auto;
      bottom: auto;
      visibility: visible; }
    .nav-list.state-active {
      border: 1px solid #f7f7f7;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
      opacity: 1;
      -webkit-transition: opacity 250ms, height 250ms;
      transition: opacity 250ms, height 250ms; }
  .dialog {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.8); }
    .dialog .container {
      border-radius: 3px;
      background: #f7f7f7;
      padding: 40px 40px 20px;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
      width: 330px; }
  .loading-indicator {
    border-radius: 12px; } }
@media screen and (min-width: 720px) {
  .wrapper-full-width {
    width: 720px; }
    .wrapper-full-width .title, .wrapper-full-width .block, .wrapper-full-width .message .container {
      margin-left: 40px;
      margin-right: 40px; }
    .wrapper-full-width .dialog .container {
      width: 50%;
      margin-left: auto;
      margin-right: auto; }
    .wrapper-full-width .dialog .btn {
      float: none; }
    .wrapper-full-width .list {
      display: table;
      width: 100%;
      margin: 0 -0.5rem 18px;
      border-bottom: none; }
    .wrapper-full-width .list-heading-group, .wrapper-full-width .list-item {
      display: table-row; }
    .wrapper-full-width .list-item {
      cursor: pointer; }
    .wrapper-full-width .list-field .name, .wrapper-full-width .list-select-button {
      display: none; }
    .wrapper-full-width .list-heading, .wrapper-full-width .list-select-radio, .wrapper-full-width .list-field {
      display: table-cell;
      font-size: 1rem;
      padding: 10px 0.5rem; }
    .wrapper-full-width .list-select-radio, .wrapper-full-width .list-field {
      border-top: 1px solid #e5e5e5; }
    .wrapper-full-width .list-heading-select, .wrapper-full-width .list-select-radio {
      width: 1%;
      text-align: center;
      white-space: nowrap; }
    .wrapper-full-width .list-field .value {
      display: inline;
      width: auto; }
    .wrapper-full-width .list-heading-date-created, .wrapper-full-width .list-field-date-created {
      width: 1%;
      white-space: nowrap; }
    .wrapper-full-width .list-submit {
      display: block; } }